.header {
  height: 64px;
  display: flex;
  padding: 0;
  justify-content: space-between;
  height: 100%;
  margin: auto;
}

.header li {
  display: flex;
  padding: 0 16px;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  overflow: hidden;
}

.header_logo {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 2px #000;
  text-wrap: nowrap;
  font-size: 1.4rem;
}

.header_search_button {
  color: #FFF;
  filter: drop-shadow(2px 2px #000);
}

.header_search_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  background-color: #02495d;
}