.home {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--theme-color);
  transition: background-color .2s ease-in-out;
}

.home-content{
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.home-content-main {
  width: 66%;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  gap: 16px;
}

.home-horizontal-ad{
  width: 100%;
  aspect-ratio: auto 412 / 152;
  background-image: url('https://bannerboo.com/upload/medialibrary/13a/851x315_b7f147f2ad77f-_15_.gif');
  background-size: cover;
  background-position: center;
  background-color: gray;
  margin: 24px 0;
}

.home-content-secondary{
  display: flex;
  flex-direction: column;
  width: 33%;
  padding: 8px 0;
  margin: 16px 0;
  gap: 10px;
  border-left: 1px solid var(--text-color);
  transition: .2s ease-in-out;
}

.list-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  padding: 10px;
  gap: 4px;
}

.list-card-title{
  color: var(--text-color);
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: default;
  transition: color .2s ease-in-out;
}

.list-card-title::after{
  content: '';
  display: block;
  margin: auto;
  margin-top: -2px;
  width: 25%;
  border-top: 3px solid var(--text-color);
  transition: .3s;
}

@media (max-width: 650px) {
  .home {
    margin-top: 64px;
  }

  .home-content {
    width: 90%;
  }

  .home-content-main{
    width: 100%;
  }

  .home-content-secondary{
    display: none;
  }

  .list-card {
    display: none;
  }
  
  .home-vertical-ad {
    display: none;
  }
}