.cross {
  position: fixed;
  color: white;
  z-index: 3;
  right: 0;
  top: 0;
  margin: 16px;
}

.float-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 100px);
  z-index: 2;
  background-color: #000000e6;
  background-position-y: calc((100% - 100px) / 2);
  background-size: 100%;
  background-repeat: no-repeat;
}