.cross {
  position: fixed;
  color: white;
  z-index: 3;
  right: 0;
  top: 0;
  margin: 16px;
}

.zoom-icons {
  position: fixed;
  display: flex;
  color: white;
  top: 0;
  left: 0;
  z-index: 3;
  margin: 16px;
  gap: 16px;
}

.float-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000000e6;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}