.float-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000000e6;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}