.card-list {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 8px;
  background-color: rgb(128, 128, 128, 0.2);
  flex-direction: column;
  height: auto;
  padding: 6px;
}

.card-list.hasBanner {
  width: 33%;
}

.card-list-banner{
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  margin-bottom: 6px;
}

.card-list-banner.hasBanner {
  width: 100%;
}

.card-list-data{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: 100%;
  position: relative;
  padding: 2px;
}

.card-list-data-link{
  color: var(--text-color);
  transition: color .2s ease-in-out;
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
}

.card-list-data-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-list-data-footer {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  gap: 8px;
  margin-top: auto;
  width: 100%;
  color: var(--text-color);
  font-size: .8rem;
  font-weight: bold;
  transition: color .2s ease-in-out;
}

.card-list-data-footer-info a{
  border-bottom: 2px solid var(--text-color);
  color: var(--text-color);
  text-decoration: none;
  transition: .2s ease-in-out;
}

.card-list-data-footer-info a:hover{
  border-bottom: 4px solid var(--main-color);
}

.card-list-underline{
  margin: 0 12px;
  border-bottom: 2px solid var(--text-color);
  transition: border-bottom .2s ease-in-out;

}
.card-list-underline:last-child {
  border-bottom: 2px solid transparent;
}