.list-card-link{
  font-size: 1rem;
  font-weight: 600;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  color: var(--text-color);
  border-radius: 8px;
  transition: .2s ease-in-out;
}

.list-card-link::after{
  content: '';
  display: block;
  margin: auto;
  margin-top: 2px;
  width: 8px;
  border-top: 3px solid var(--text-color);
  transition: .3s;
}

.list-card-link:hover::after {
  width: 100%;
}