.list-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 8px;
}

.list-card-link{
  font-size: 1rem;
  font-weight: 600;
  padding: 8px;
  text-decoration: none;
  color: var(--text-color);
  border-radius: 8px;
  transition: .2s ease-in-out;
}

.list-card-link a {
  overflow: hidden;
  text-overflow: ellipsis;  
}

.list-card-link::after{
  content: '';
  display: block;
  width: 100%;
  border-top: 3px solid var(--text-color);
  transition: .2s ease-in-out;
}

.list-card-link:hover::after {
  border-color: var(--main-color);
}

@media (max-width: 650px) {
  .list-card {
    display: none;
  }
}