.cardReview{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .cardReview:first-of-type{
  margin-left: 10%;
}

.cardReview:last-of-type{
  margin-right: 10%;
} */

.cardReview_container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  aspect-ratio: 1/.8;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.cardReview_container_image{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: .5s;
}

.cardReview_container_image:hover{
  transform: scale(1.05);
}

.cardReview_container_icon {
  height: 100%;
  width: 100%;
  padding: 52px;
  color: var(--theme-color);
  background-color: var(--main-color);
  background-image: linear-gradient(to right, var(--main-color), rgba(0, 0, 0, .3));
  transition: transform .1s ease-in-out;
}

.cardReview_container_icon:hover{
  transform: scale(1.1);
}

.cardReview_container_score{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0; left: 0;
  height: 20%;
  width: 25%;
  font-weight: bold;
  font-size: 1.7rem;
  background-color: var(--main-color);
  color: #FFF;
  border-radius: 0 16px 0 0;
  border-right: 1px solid #FFF;
  border-top: 1px solid #FFF;
  box-shadow: 2px 2px black;
  text-shadow: 1.5px 1.5px #000;
}

.cardReview_title{
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
  width: 240px;
  color: var(--text-color);
  cursor: pointer;
}

@media (max-width: 650px) {
  .cardReview_container_image:hover{
    transform: none;
  }

  .cardReview:first-of-type{
    margin-left: 2.5%;
  }
  
  .cardReview:last-of-type{
    margin-right: 2.5%;
  }

  .cardReview_container, .cardReview_title{
    font-size: 1rem;
  }
}