.card{
  width: 33%;
  text-decoration: none;
}

.cardImage{
  width: 100%;
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.cardData{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  height: 140px;
  margin-top: 10px;
}

.cardTitle{
  color: var(--text-color);
  height: 50%;
  font-size: 1.4rem;
  font-weight: bold;
  transition: color .2s ease-in-out;
}

.cardInfo{
  color: var(--text-color);
  align-self: flex-end;
  margin-top: auto;
  font-size: .9rem;
  font-weight: bold;
  transition: color .2s ease-in-out;
}

.cardInfo a{
  border-bottom: 2px solid var(--text-color);
  color: var(--text-color);
  text-decoration: none;
  transition: .2s ease-in-out;
}

.cardInfo a:hover{
  border-bottom: 4px solid var(--main-color);
}

@media (max-width: 800px) {
  .card{
    width: 100%;
  }

  .cardData{
    height: auto;
    padding-bottom: 20px
  }
}