.article-banner-case {
  height: 400px;
  width: 100%;
  position: fixed;
  top: 72px;
  z-index: -1;
}

.article-banner-background {
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  filter: brightness(45%) grayscale(30%) blur(.2px);
}

.article-banner {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.test {
  width: 100%;
  aspect-ratio: 16/9;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.test-filter {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, var(--theme-color) 20%, transparent 80%);
}

.article-main {
  /* margin-top: 472px; */
  margin-top: 80px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--theme-color);
}

.article-horizontal-ad {
  width: 100%;
  aspect-ratio: 4/1;
  background-image: url('https://bannerboo.com/upload/medialibrary/13a/851x315_b7f147f2ad77f-_15_.gif');
  background-size: cover;
  background-position: center;
  background-color: gray;
}

.article-content {
  margin-top: -400px;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  justify-content: space-between;
  gap: 64px;
  color: var(--text-color);
  transition: color .2s ease-in-out;
}

.article-content-header {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: -52px;
}

.article-content-header h1 {
  margin: 0;
  font-size: 2rem;
}

.article-content-header h5 {
  margin: 0;
  font-weight: 400;
  font-size: 1.1rem;
}

.article-content-main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.article-content-main p {
  margin: 0;
  font-size: 1.3rem;
}

.article-content-main h5 {
  margin: 0;
  margin-top: 32px;
  font-weight: 400;
  font-size: 1rem;
}

@media (max-width: 1300px) {
  .article-content {
    width: 90%;
  }
}

@media (max-width: 650px) {
  .test-filter {
    background: linear-gradient(to top, transparent 20%, transparent 80%);
  }

  .article-banner-case {
    height: 230px;
    top: 64px;
  }

  .article-main {
    margin-top: 64px;
    /* margin-top: 294px; */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .article-content {
    margin-top: 0;
    gap: 52px;
    padding: 16px 0;
  }

  .article-content-header {
    gap: 12px;
    margin-top: -46px;
  }

  .article-content-header h1 {
    font-size: 1.8rem;
  }

  .article-vertical-ad {
    display: none;
  }

  .article-horizontal-ad {
    aspect-ratio: 21/9;
  }
}