.quickMenuCase{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 12px;
  margin: 0;
  font-size: 1.4rem;
  list-style: none;
  filter: drop-shadow(2px 2px #000);
}

.quickMenuLinks {
  padding: 12px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
}