.moreArticles_container{
  width: 80%;
  margin: 100px 0;
}

.moreArticles_container_title{
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-color);
  transition: .3s ease-in-out;
}

.moreArticles_container_cards{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 30px;
  gap: 12px;
}

@media (max-width: 800px) {
  .moreArticles_container{
    width: 90%;
    margin-bottom: 40px;
  }

  .moreArticles_container_cards{
    flex-direction: column;
  }
}