.moreArticles_container{
  width: 80%;
  margin: 100px auto;
}

.moreArticles_container_title{
  margin: 0;
  font-weight: bold;
  color: var(--text-color);
  padding: 16px 0;
  text-decoration: underline 6px var(--main-color);
  text-wrap: nowrap;
  text-align: center;
}

.moreArticles_container_cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 12px;
}

@media (max-width: 1300px) {
  .moreArticles_container{
    width: 90%;
  }
}

@media (max-width: 650px) {
  .moreArticles_container{
    margin-bottom: 40px;
  }

  .moreArticles_container_cards{
    flex-direction: column;
  }
}