.pageButtons{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: rgb(128, 128, 128, 0.2);
  border-radius: 8px;
}

.pageButtons-arrows{
  color: var(--main-color);
  filter: drop-shadow(1px 1px #000);
  cursor: pointer;
  margin: 0 8px;
  transition: .2s ease-in-out;
}

.pageButtons-arrows:hover{
  color: var(--secondary-color);
}

.pageButtons-arrows.faded{
  filter: drop-shadow(0px 0px #000) opacity(25%);
}

.pageButtons-numbers{
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.pageButtons-number{
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--main-color);
  padding: 0 4px;
  text-align: center;
  width: 24px;
  text-shadow: 1px 1px 1px #000;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.pageButtons-number:hover{
  color: var(--secondary-color);
}

.pageButtons-number.active{
  filter: opacity(25%);
}

@media (max-width: 900px) {
  .pageButtons-arrows:hover, .pageButtons-number:hover{
    color: var(--main-color);
  }
}