.cardBanner{
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
}

.cardBanner_image{
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* .cardBanner_image:hover{
  transform: scale(1.05);
} */

.cardBanner_shadow{
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #00000069 5%, transparent 95%);
}

.cardBanner_title{
  font-size: 1.3rem;
  font-weight: bold;
  color: #FFF;
  text-shadow: 2px 2px #000;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 900px){
  .cardBanner{
    width: 100vw;
    border-radius: 0;
    margin-left: -2.6%;
    /* margin-top: -3.2%; */
  } 
}