.card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  background: var(--gradient-color);
  border-radius: 8px;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 var(--main-color);
  transition: box-shadow .3s ease-in-out, height .3s ease-in-out;
}

.card:hover {
  box-shadow: inset 1000px 0 0 0 var(--main-color);
  height: 220px;
}

.card-banner{
  height: 100%;
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}


.card-link{
  color: black;
  width: 50%;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin: auto;
  text-shadow: var(--text-shadow);
}

@media (max-width: 1000px) {
  .card {
    flex-direction: column;
    height: auto;
    background-color: white;
  }

  .card:hover {
    height: auto;
  }

  .card-banner{
    width: 100%;
  }

  .card-link{
    width: 95%;
    padding: 5px 0;
  }
}