.card {
  display: flex;
  align-items: center;
  height: 200px;
  border-radius: 8px;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out, height .2s ease-in-out;
}

.card-banner{
  height: 100%;
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.card-data{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 90%;
  width: 50%;
  margin-left: 20px;
  gap: 8px;
}

.card-tags{
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.card-tag {
  text-decoration: none;
  color: black;
  font-size: .9rem;
  font-weight: bold;
  background-color: var(--main-color);
  padding: 2.5px 5px;
  border-radius: 5px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transition: background-color .2s ease-in-out;
}

.card-tag:hover{
  background-color: var(--secondary-color);
}

.card-link{
  color: var(--text-color);
  transition: color .2s ease-in-out;
  font-size: 28px;
  font-weight: bold;
}

.card-info{
  color: var(--text-color);
  transition: color .2s ease-in-out;
  align-self: flex-end;
  margin-top: auto;
  font-size: .9rem;
  font-weight: bold;
}

.card-info a{
  text-decoration: none;
}

.card-info a:hover{
  border-bottom: 2px solid var(--text-color);
}

.card-underline{
  width: 100%;
  border-bottom: 1px solid var(--text-color);
  transition: border-bottom .2s ease-in-out;

}
.card-underline:last-child {
  border-bottom: 1px solid transparent;
}

@media (max-width: 1150px) {
  .card {
    flex-direction: column;
    height: auto;
    background-color: white;
  }

  .card-banner{
    width: 100%;
  }

  .card-data{
    width: 100%;
    margin-left: 0;
    padding: 10px 0 0;
  }
}