.searchBar {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 8px;
  transition: .4s ease-in-out;
  position: relative;
  padding: 4px 7px;
  width: 20px;
  color: #FFF;
  filter: drop-shadow(2px 2px #000);
}

.searchBarOpen {
  padding: 0;
  width: calc(25vw + 40px);
}

.searchButton {
  position: absolute;
  cursor: pointer;
}

.searchInput {
  border: none;
  background-color: transparent;
  margin: 0 6px;
  width: 100%;
  margin-left: 32px;
  color: var(--text-color);
  font-size: 1.4rem;
  cursor: default;
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 white;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  outline: none;
}

.searchInput::placeholder {
  text-align: center;
  font-size: 1.2rem;
}

.searchInputOpen {
  box-shadow: inset 600px 0 0 0 white;
  cursor: text;
}

@media screen and (max-width: 650px) {
  .searchBar {
    width: 24px;
  }

  .searchBarOpen {
    width: 100vw;
  }

  .searchInput {
    margin-left: 38px;
    font-size: 1.6rem;
  }
}