.header {
  background-color: aqua;
  height: 72px;
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

.header nav {
  height: 100%;
}

.header ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 80%;
  height: 100%;
  margin: auto;
}

.header a {
  text-decoration: none;
  color: black;
}

@media (max-width: 650px) {
  .header {
    display: none;
  }
}