 .header {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 80px;
   z-index: 1;
   background: var(--main-color);
 }

 .header nav {
   display: flex;
   justify-content: space-between;
   gap: 16px;
   align-items: center;
   width: 80%;
   height: 100%;
   margin: auto;
 }

 .header-logo-case {
   width: 50%;
 }

 .header-logo {
  color: #FFF;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 2px #000;
  text-wrap: nowrap;
 }

 .header-pc {
   display: flex;
   padding: 0;
   gap: 30px;
   width: auto;
   list-style: none;
 }

 .header-pc a {
   font-size: 1.5rem;
   font-weight: bold;
   text-decoration: none;
   text-shadow: 2px 2px #000;
   color: #FFF;
 }

 .header-pc a::after {
   content: '';
   display: block;
   margin: auto;
   width: 0;
   border-top: 3px solid #FFF;
   box-shadow: 2px 2px #000;
   transition: .3s;
 }

 .header-pc a:hover::after {
   width: 100%;
 }

 .header-pc-night {
   cursor: pointer;
   color: #FFF;
   filter: drop-shadow(2px 2px #000);
 }

 @media (max-width: 1000px) {
  .header-logo-case {
    width: auto;
  }
  .header-logo {
    font-size: 1.2rem;
  }
  .header-pc {
    overflow: hidden;
  }
  .header-pc a {
    font-size: 1.1rem;
  }
 }

 @media (max-width: 650px) {
   .header {
     height: 64px;
   }

   .header nav {
     position: absolute;
   }

   .header-mobile {
     display: flex;
     list-style: none;
     padding: 0;
     justify-content: flex-start;
     height: 100%;
     width: 100%;
     margin: auto;
     position: relative;
   }

   .header-mobile li {
     display: flex;
     align-items: center;
     height: 100%;
     width: auto;
     padding-left: 24px;
   }

   .header-mobile-night {
     position: absolute;
     right: 15px;
     top: 15px;
     color: #FFF;
     filter: drop-shadow(2px 2px #000);
   }
 }