.header {
  background: var(--main-color);
  height: 72px;
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

.header nav {
  height: 100%;
  width: 100%;
}

.header-pc {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 80%;
  height: 100%;
  margin: auto;
  gap: 6px;
}

.header-pc li {
  display: flex;
  justify-content: center;
  text-align: center;
}

.header-pc a {
  padding: 2px 12px;
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
  text-shadow: var(--text-shadow);
  border-radius: 8px;
  box-shadow: inset 0 0 0 0 var(--secondary-color);
  transition: box-shadow .2s ease-in-out, font-size .2s ease-in-out;
  text-wrap: nowrap;
}

.header-pc a::after{
  content: '';
  display: block;
  margin: auto;
  width: 0;
  border-top: 3px solid #000000;
  transition: .3s;
}

.header-pc a:hover::after {
  width: 100%;
}

.header-pc-night {
  cursor: pointer;
  padding: 8px;
}

.header-mobile {
  display: none;
}

@media (max-width: 1000px) {
  .header-pc {
    justify-content: space-around;
  }
}

@media (max-width: 650px) {
  .header {
    height: 64px;
  }

  .header nav {
    position: absolute;
  }

  .header-pc {
    display: none;
  }

  .header-mobile {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;
  }

  .header-mobile li {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    padding-left: 24px;
  }

  .header-mobile-night {
    position: absolute;
    right: 15px;
    top: 15px;
  }
}