.banner_image{
  position: absolute;
  top: 72px;
  width: 100%;
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  z-index: -1;
}

.filter{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: linear-gradient(to top, var(--theme-color) 40%, transparent 60%);
}

.banner_case{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 80vh;
  margin-bottom: 80px;
  gap: 2px;
  z-index: 1;
}

.banner_case_title,
.banner_case_subtitle,
.content_text{
  font-weight: bold;
  text-shadow: 1px 1px var(--theme-color);
}

.banner_case_title{
  font-size: 2rem;
  color: var(--text-color);
}

.banner_case_subtitle{
  font-size: 1rem;
  color: var(--subtext-color);
}

.content{
  width: 50%;
  margin-left: 10%;
}

.content_text{
  color: var(--text-color);
  text-shadow: none;
}

.content_subtext{
  color: var(--subtext-color);
  font-size: .9rem;
  margin-bottom: 0;
}

.content_link{
  border-bottom: 1px solid transparent;
  color: var(--subtext-color);
  text-decoration: none;
  transition: border-bottom .2s ease-in-out;
}

.content_link:hover{
  color: var(--text-color);
  border-bottom: 4px solid var(--main-color);
}

@media (max-width: 900px) {
  .banner_image{
    margin-top: 64px;
    position: inherit;
  }

  .filter{
    display: none;
  }

  .banner_case {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .banner_case_title{
    font-size: 1.5rem;
  }

  .content{
    width: 90%;
    margin-left: 5%;
  }
}