.list-main {
  margin: auto;
  margin-top: 72px;
  min-height: 90vh;
  display: flex;
  width: 80%;
  gap: 8px;
  justify-content: space-between;
  background-color: var(--theme-color);
  transition: background-color .2s ease-in-out;
}

.list-content {
  width: 69%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 52px;
  padding: 24px 0;
  color: var(--text-color);
  transition: color .2s ease-in-out;
}

.list-content h5 {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
}

.list-content-header {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: -42px;
}

.list-content-header h1 {
  margin: 0;
  font-size: 2rem;
}

.list-content-header h5 {
  margin: 0;
  font-size: 1rem;
}

.list-content-main {
  display: flex;
  flex-direction: column;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
  margin: 24px 0;
}

.list-item-image {
  aspect-ratio: 16/9;
  background-size: 100% 100%;
  width: 100%;
  align-self: center;
  border-radius: 16px;
  border: 4px solid var(--main-color);
  filter: drop-shadow(3px 3px #000);
  position: relative;
}

.list-item-image h2 {
  position: absolute;
  bottom: 0;
  background-color: var(--main-color);
  color: #FFF;
  margin: 8px;
  padding: 4px;
  border-radius: 8px;
  border: 2px solid #FFF;
  text-shadow: 2px 2px #000;
  filter: drop-shadow(3px 3px #000);
  font-size: 2rem;
}

.list-item p {
  margin: 0;
  margin-top: 4px;
  min-height: 120px;
  font-size: 1.2rem;
}

.list-subcontent {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
  gap: 16px;
}

@media (max-width: 1300px) {
  .list-main{
    width: 90%;
  }
}

@media (max-width: 650px) {
  .list-content{
    width: 100%;
    padding: 8px 0;
  }
  
  .list-subcontent {
    display: none;
  }

  .list-item-image h2 {
    font-size: 1.6rem;
  }
}
  