.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  height: 60px;
  width: 100%;
  background-color: var(--main-color);
  filter: saturate(40%);
}

.banner_content{
  width: 80%;
  display: flex;
  align-items: center;
}

.banner_content_leftHand{
  display: flex;
  width: 300px;
  gap: 4px;
  padding: 0 8px;
  justify-content: space-between;
  border-radius: 32px;
  background-color: var(--main-color);
  filter: brightness(130%);
  position: relative;
}

.banner_title{
  display: flex;
  align-items: center;
  gap: 4px;
}

.banner_viewMore_icon{
  color: #FFF;
  filter: drop-shadow(2px 2px #000);
  cursor: pointer;
  margin-top: 6px;
  border-radius: 50%;
  transition: .2s ease-in-out;
}

.banner_viewMore_icon:hover {
  backdrop-filter: brightness(130%);
}

.banner_viewMore_content{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -2;
  border-radius: 32px;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
}

.banner_viewMore_content_tags{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;
  margin-top: 46px;
  height: 100%;
  width: 100%;
  transition: .2s ease-in-out;
}

.banner_viewMore_content_tag{
  font-size: 1.2rem;
  font-weight: 400;
  text-shadow: 1.5px 1.5px 1px #000;
  width: 100%;
  cursor: pointer;
  border-radius: 16px;
  padding-left: 12px;
  transition: .1s ease-in-out;
  text-decoration: none;
  color: #FFF;
  position: relative;
}

.banner_viewMore_content_tagCount{
  position: absolute;
  right: 0;
  margin-right: 12px;
}

.banner_viewMore_content_tag:hover{
  background-color: var(--main-color);
  filter: brightness(130%);
}

.banner_title_icon,
.banner_title_span{
  color: #FFF;
  font-size: 1.6rem;
  filter: drop-shadow(2px 2px #000);
}

.banner_title_span{
  margin-left: 5px;
  font-weight: bold;
}

.news{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 12px auto;
  min-height: 100vh;
  gap: 8px;
}

.news_main{
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.news_secondary{
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 1300px){
  .news{
    width: 90%;
  }
}

@media screen and (max-width: 1300px){
  .banner_content{
    width: 90%;
  }
}

@media screen and (max-width: 1150px){
  .news{
    width: 95%;
  } 
}

@media screen and (max-width: 900px){
  .banner{
    height: 52px;
    margin-top: 64px;
  }

  .banner_content{
    width: 95%;
  }

  .banner_content_leftHand{
    width: 260px;
  }

  .banner_viewMore_icon:hover {
    backdrop-filter: none;
  }

  .banner_viewMore_content_tags{
    gap: 4px;
  }

  .news{
    width: 95%;
    margin-top: 0;
  }

  .news_main{
    width: 100%;
    margin-top: 0;
  }

  .news_secondary{
    display: none;
  }
}