.bannerSlider{
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 17px);
  height: 500px;
  position: relative;
  background-size: cover;
  background-position: center;
  transition: .1s linear;
}

.bannerSlider-container{
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  height: 90%;
  background: linear-gradient(to right, #000000af, #00000077);
  border: 2px solid var(--main-color);
  border-radius: 12px;
}

.bannerSlider-container-title{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 80%;
  flex-basis: 80%;
  padding: 0 32px;
  color: #FFF;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.bannerSlider-container-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  padding: 40px;
  height: 100%;
}

.bannerSlider-container-buttons div{
  background-color: #FFF;
  border: 1px solid var(--main-color);
  width: 200px;
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border-radius: 5px;
}

.bannerSlider-container-arrows{
  color: var(--main-color);
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-slide{
  transform: scale(1.25);
  z-index: 1;
}

.banner-info{
  position: absolute;
  left: 0; bottom: 0;
  padding: 10px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.banner-info a{
  border-bottom: 2px solid white;
  color: white;
  text-decoration: none;
  transition: .1s ease-in-out;
}

.banner-info a:hover{
  border-bottom: 4px solid var(--main-color);
}

.in-arrows-first, .in-arrows-last {
  display: none;
}

@media (max-width: 1000px) {
  .bannerSlider{
    width: 100vw;
    height: 300px;
  }
  
  .bannerSlider-container{
    flex-direction: column;
    height: 85%;
    width: 90%;
    padding: 6px;
  }

  .bannerSlider-container-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    font-size: 1.5rem;
    width: 95%;
    height: 60%;
  }

  .bannerSlider-container-buttons{
    flex-direction: row;
    margin: auto;
    padding: 12px 0;
    width: 100%;
    max-width: 550px;
    height: auto;
    max-height: 40%;
  }

  .bannerSlider-container-buttons div{
    width: 90%;
    border: .5px solid var(--main-color);
  }

  .bannerSlider-container-arrows{
    display: none;
  }

  .in-arrows-first, .in-arrows-last{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    backdrop-filter: brightness(40%);
  }

  .in-arrows-first{
    border-radius: 5px 0 0 5px;
    justify-content: flex-start;
  }

  .in-arrows-last{
    border-radius: 0 5px 5px 0;
    justify-content: flex-end;
  }

  .in-arrow {
    filter: drop-shadow(3px 3px #000);
  }

  .banner-info{
    top: 0; right: 0;
    bottom: unset; left: unset;
    font-size: .8rem;
  }
}