.footer {
  background: var(--main-color);
  height: 140px;
}

.footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 80%;
  padding: 0;
  margin: auto;
  list-style: none;
}

.footer-case {
  display: flex;
  align-items: center;
  color: #FFF;
  padding: 2px 12px;
  gap: 6px;
  padding: 0;
  margin-top: 16px;
  text-decoration: none;
}

.footer-text {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  text-shadow: 2px 2px #000;
  font-weight: bold;
  margin: 0;
}

.footer-text::after {
  content: '';
  display: block;
  margin: auto;
  width: 0;
  border-top: 3px solid #FFF;
  box-shadow: 2px 2px #000;
  transition: .3s;
}

.footer-text:hover::after {
  width: 100%;
}

.footer-icon {
  filter: drop-shadow(2px 2px #000);
}

@media (max-width: 1300px) {
  .footer ul {
    width: 90%;
  }
}

@media (max-width: 650px) {
  .footer ul {
    width: 100%;
  }
}