.home {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--theme-color);
  transition: background-color .2s ease-in-out;
}

.home-content{
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.home-content-main {
  width: 66%;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  gap: 16px;
}

.home-horizontal-ad{
  width: 100%;
  aspect-ratio: auto 412 / 152;
  background-image: url('https://bannerboo.com/upload/medialibrary/13a/851x315_b7f147f2ad77f-_15_.gif');
  background-size: cover;
  background-position: center;
  background-color: gray;
  margin: 24px 0;
}

.home-content-secondary{
  display: flex;
  flex-direction: column;
  width: 33%;
  padding: 8px 0;
  margin: 16px 0;
  gap: 10px;
  transition: .2s ease-in-out;
}

@media (max-width: 650px) {
  .home {
    margin-top: 64px;
  }

  .home-content {
    width: 95%;
  }

  .home-content-main{
    width: 100%;
    padding: 0;
  }

  .home-content-secondary{
    display: none;
  }
  
  .home-vertical-ad {
    display: none;
  }
}