.searchBar {
  display: flex;
  width: 300px;
  height: 24px;
  border: 2px solid #FFF;
  border-radius: 8px;
  margin: 0 20px;
  filter: drop-shadow(2px 2px #000);
}

.searchBar.mobile {
  width: 90%;
  margin: auto;
}

.searchBar_input {
  width: 85%;
  margin: 0;
  padding: 10px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 1rem;
}

.searchBar_input:focus {
  outline: none;
}

.searchBar_button {
  width: 15%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #FFF;
  background-color: var(--main-color);
  filter: saturate(60%);
  cursor: pointer;
}