.card {
  display: flex;
  align-items: center;
  height: 200px;
  text-decoration: none;
  border-radius: 8px;
  background-color: rgb(128, 128, 128, 0.2);
  padding: 6px;
}

.card-banner{
  height: 100%;
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.card-data{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 90%;
  width: 100%;
  margin: 0 10px;
  gap: 8px;
}

.card-data-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-data-link{
  color: var(--text-color);
  transition: color .2s ease-in-out;
  font-size: 1.5rem;
  font-weight: bold;
}

.card-data-footer {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  gap: 8px;
  margin-top: auto;
  width: 100%;
  color: var(--text-color);
  font-size: .9rem;
  font-weight: bold;
  transition: color .2s ease-in-out;
}

.card-data-footer-info a{
  border-bottom: 2px solid var(--text-color);
  color: var(--text-color);
  text-decoration: none;
  transition: .2s ease-in-out;
}

.card-data-footer-info a:hover{
  border-bottom: 4px solid var(--main-color);
}

.card-underline{
  margin: 0 12px;
  border-bottom: 2px solid var(--text-color);
  transition: border-bottom .2s ease-in-out;

}
.card-underline:last-child {
  border-bottom: 2px solid transparent;
}

@media (max-width: 1150px) {
  .card {
    flex-direction: column;
    height: auto;
    padding: 6px;
  }

  .card-underline{
    display: none;
  }

  .card-banner{
    width: 100%;
  }

  .card-data{
    width: 100%;
    height: 55%;
    padding: 12px 0 0;
  }

  .card-data-link{
    font-size: 1.4rem;
  }
}